.subtitle {
    background: var(--secondary-color);
    padding: 5px;
    margin-left: -10px;
    position: relative;

    & .icon {
        position: absolute;
        display: inline-block;
        top: 2%;
    }
}

.noBGImgOfDavid {
    height: 100vh;
    position: absolute;
    top: 0vh;
    right: -10.01vw;
    overflow-x: hidden;
}
