.subtitle {
    background: var(--secondary-color);
    padding: 5px;
    margin-left: -10px;
    position: relative;

    & .icon {
        position: absolute;
        display: inline-block;
        top: 2%;
    }
}

.noBGImgOfDavid {
    width: 500px;
    position: absolute;
    bottom: 0;
    right: -10.01vw;
    overflow-x: hidden;
}
