.subtitle {
    padding: 0.3rem;
    margin-left: -3px;
    position: relative;
}

.extraSubtitleStylesOnMediumScreensUp {
    background: var(--secondary-color);
    padding: 1.2rem;
}

.noBGImgOfDavid {
    height: 100vh;
    position: absolute;
    top: 0vh;
    right: -10.01vw;
    overflow-x: hidden;
}
