.projectTitle,
.projectDescription {
    color: var(--primary-color);
}

.projectContainer {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.mobileProjectContainer {
    width: 40vw;
    top: -0.5vw;
}

.mobileContainerImg {
    position: relative;
    width: 100%;
    -webkit-filter: drop-shadow(0 0 0.75rem var(--tertiary-color));
    filter: drop-shadow(0 0 0.75rem var(--tertiary-color));
}

.mobileProjectImg {
    width: 80%;
    position: absolute;
    top: 4%;
    left: 10%;
    border-radius: 2rem;
}

.desktopContainerImg {
    width: 100%;
    position: relative;
    -webkit-filter: drop-shadow(0 0 0.75rem var(--tertiary-color));
    filter: drop-shadow(0 0 0.75rem var(--tertiary-color));
}

.desktopProjectImg {
    width: 95.2%;
    top: 5%;
    left: 1%;
    position: absolute;
}
